*.map
*.mem
*.prof
/.mypy_cache
/.python-version
/.vscode
/apex
/bin
/build
/checkpoint
/etc
/go
/include
/lib
/lib64
/ninja-python-distributions
/pip-selfcheck.json
/pytorch
/pyvenv.cfg
/rtlsim-ai85
/rtlsim-ai85.old
/rtlsim-ai87
/rtlsim-ai87.old
/share
/tensorflow
__pycache__
/blocklevel-ai85
/blocklevel-ai85.old
/blocklevel-ai87.old
/blocklevel-ai87.old
/super-linter.log
/super-linter.report
