*.map
*.mem
*.prof
/.mypy_cache
/.vscode
/apex
/bin
/build
/checkpoint
/demos
/distiller
/etc
/go
/include
/lib
/lib64
/ninja-python-distributions
/pip-selfcheck.json
/pytorch
/pyvenv.cfg
/rtlsim
/rtlsim.old
/share
/tensorflow
__pycache__
